<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154550044753-m9st6emk1q2f1k8lp43pnmmdk6hd89tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154550044753-m9st6emk1q2f1k8lp43pnmmdk6hd89tu</string>
	<key>API_KEY</key>
	<string>AIzaSyA_bBCjSXkC8rmUIS0XJ4DBKlwOYnlby1s</string>
	<key>GCM_SENDER_ID</key>
	<string>154550044753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RioFujimon.cordinateSnsApp</string>
	<key>PROJECT_ID</key>
	<string>coordinate-sns-app</string>
	<key>STORAGE_BUCKET</key>
	<string>coordinate-sns-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154550044753:ios:c0fc05358b7f5ceb7c9070</string>
</dict>
</plist>